body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}

.main-img {
  display: block;
  border-radius: 100%;
  border: 2px solid black;
  margin: 0 auto;
}

header h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.nav-link {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.nav-link:hover {
  color: gray;
}

.nav, .search-form, .name-field {
  display: flex;
  justify-content: center;
}

.search-form {
  margin-top: 10px;
}

.char-card {
  border: 2px solid black;
  margin-bottom: 2%;
  padding: 1.5%;
}

.loc-card {
  border: 2px solid black;
  margin-bottom: 2%;
  padding: 1.5%;
}